{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bean Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <a href="/">
      <div class="header-title">
        <img src="{% static 'images/bean-collector.png' %}">
        <h1>Bean Collector</h1>
      </div>
    </a>
    <div class="header-links">
      <a href="/beans">
        <div class="link-browse">
          Browse Beans
        </div>
      </a>
      <a href="{% url 'beans_create' %}">
        <div>
          Add a Bean
        </div>
      </a>
      <a href="/about">
        <div class="link-about">
          About
        </div>
      </a>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    
  </footer>
</body>
</html>