{% extends '../index.html' %}
{% load static %}
{% block content %}


<img class="bean-banner" src="{% static 'images/bean-banner.png' %}">

<p class="home-description">
Embark on a delightful journey through the diverse world of beans! 
<br><br>
Bean Collector is your ultimate companion in exploring, logging, and reviewing a myriad of bean varieties. 
<br><br>
Whether you're a seasoned bean aficionado or a curious newcomer, our comprehensive database is brimming with fascinating details about each type of bean. 
<br><br>
From the rich, earthy tones of a classic pinto to the exotic, vibrant hues of a rare heirloom variety, Bean Collector is your gateway to a universe of flavor, texture, and culinary possibility. 
<br><br>
Dive into our bean universe and discover your next favorite!
</p>

{% endblock %}