{% extends '../index.html' %}
{% block content %}

<div class="about-beans">
  <h1>Who We Are</h1>

  <p class="bean-legacy">Bean Collector: The Legume Legacy
    At Bean Collector, our mission transcends mere bean aggregation; we endeavor to revolutionize the very essence of bean appreciation. In a world brimming with beans of every shape, size, and savor, our app serves as the quintessential beacon for bean buffs, a veritable vortex where legume lovers and bean buffs converge.
    <br><br>
    We're not just cataloging beans; we're weaving a tapestry of leguminous lore, a symphony of seeds, where each bean tells its own tale. From the sun-kissed slopes of South America to the fertile crescents of the Middle East, our digital database dances across continents, embracing every bean in existence.
    <br><br>
    Imagine a place where Pinto prances with Black, where Chickpea cavorts with Cannellini, all under the watchful gaze of the great Garbanzo. Bean Collector isn't just an app; it's an odyssey, a bean-filled journey through time and taste, texture and tradition.
    <br><br>
    Our pledge is to pluck every possible pulse from obscurity and thrust it into the limelight of your smartphone. Whether you're a culinary connoisseur, a vegetarian visionary, or just someone who fancies a good bean, Bean Collector is your digital scroll of endless leguminous possibilities.
    <br><br>
    Join us on this whimsical whirlwind of a journey. Together, we'll explore the vast, vibrant vistas of the beanverse. This is not just bean business; it's a bean bonanza!
  </p>
</div>
{% endblock %}